a{
    color: #16a085;
    font-size: 18px;
    margin: 0 10px;
}
button{
    background: #16a085;
    color: white;
    font-size: 16px;
}
html{
    background: #f5f6f7;
    text-align: center;
}
p{
    font-size: 10px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}