.sertiz{
    font-family: ﻿Montserrat-Bold, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 48pt;
    color: rgba(255, 255, 255, 255);
    padding-left: 215px;
    padding-top: 531px;
    width: 175px;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.Awsome{
    font-family: ﻿Lato-Regular, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-left: 215px;
    padding-top: 76px;
    margin-top: -42px;
    margin-bottom: auto;
}
.make{
    font-family: ﻿Montserrat-Bold, ﻿OpenSans-Light, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 54px;
    color: rgba(255, 255, 255, 255);
    padding-left: 9px;
    padding-top: 531px;
    width: 175px;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.we{
    font-family: ﻿Montserrat-Bold, ﻿MyriadPro-Regular, ﻿AdobeInvisFont;
    font-size: 54pt;
    color: rgba(244, 142, 11, 255);
    padding-left: 215px;
    padding-top: 531px;
    width: 175px;
    height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    background-image: url("../img/Layer 21@1X.png");
    background-repeat: no-repeat;
}
.desk {
   z-index: 0;
    position: absolute;
    display: inline-block;
    vertical-align: baseline;
    box-sizing: inherit;
    user-select: none;
    font-size: 14.5px;
}
